* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pedido {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-block: 36px;
}

h2 {
    font-size: 36px;
    text-align: center;
}

.pedido h2 span {
    color: #FA8B28;
}

.pedido img {
    margin-block: 64px;
}

.pedido a {
    text-decoration: none;
    background-color: #299FCF;
    color: #fff;
    padding: 12px 28px;
    border-radius: 8px;
}

.pedido a:hover {
    opacity: .7;
    transition: ease-in .3s;
}

.pedido .opcao {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex img {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.flex img:hover {
    opacity: .65;
    transition: ease .4s;
}

.flex>span {
    font-weight: 700;
}

.pedido-pizzaria {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
    gap: 24px;
    text-align: center;
}

.card {
    background-color: #A3824B;
    width: 350px;
    padding: 36px;
    border-radius: 16px;
}

.pedido-pizzaria h3 {
    font-size: 20px;
    font-weight: 700;
}

.conteudo {
    margin-bottom: 24px;
    margin-top: 16px;
}